<div id="legalBtn"></div>
<div id="legalContent">
       No Purchase Necessary. Must be 18+ and a resident of Ontario to enter. Contest closes May 3, 2024. Visit olg.ca/dreamdraws for full contest rules and details. Retail promotion of a similar name conducted separately.

        </div>
        