@import '../../../_common/styles/common.scss';

#banner{
	width: 728px;
	height: 90px;
}


#olg{
	
	width: 117px;
	height: 69px;
	@include pos(-2, 26);
	
}



#legalBtn{	
	@include pos(680, -5);	
	width: 80px;
	// opacity: 1 !important;
}


.f1-bg_1 {
	@include pos(0, -90);
	// @include pos(0, 0);
	.f1-bg_1b{
		@include pos-scalexy(0, 180, .5, -.5);
	}
}

.f4-o{
	@include pos-scale(362, -66, .5);
	transform-origin: 50% 50%;
}

